body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.column {
    float: left;
    height: 100vh;
}

.sidebar {
    width: 24%;
    background-color: #07b57a;
    color: #ffffff;
}

.formin {
    width: 38%;
    background-color: #ffffff;
    color: #333333;
}

.formout {
    width: 38%;
    background-color: #333333;
    color: #ffffff;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin: auto;
    border: dashed;
    border-width: 2px;
    border-color: #333333;
    color: #333333;
    height: 36px;
    width: 200px;
    border-radius: 10px;
}

h3, label {
    padding: 0 0 0 20px;
}

h1, h2, h3, label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

input {
    height: 25px;
    width: 150px;
}

button {
    display: block;
    margin: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}